<!-------------------------------------- NAV BAR --------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BHW Agregator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn btn-secondary" id="scrape-posts">Scrape New Posts</button>
                <button type="button" class="btn btn-secondary" id="clear-posts">Clear Posts</button>
            </span>
        </div>
    </nav>

    <!-------------------------------------- END NAV BAR --------------------------------------------->

    <!-------------------------- JUMBOTRON ---------------------------------->
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>Mongo Scraper</h1>
            <p>Blackhat World Edition</p>
        </div>
    </div>

    <!-------------------------- END JUMBOTRON ---------------------------------->

    <!--------------------------- IF NO SCRAPE RESULTS / SHOW THIS SECTION ------->
    <div id="hide-this">
        <div class="alert alert-info mx-3 text-center" role="alert">
            <h4>No Posts Yet! Make Sure to Scrape!</h4>
        </div>

        <div class="card mx-3 mb-2">
            <div class="card-header">
                You Have A Couple Options...
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-info btn-block" id="scrape-posts">Scrape Latest Posts</button>
                <a href="/saved" role="button" class="btn btn-info btn-block">View Your Saved Posts</a>
            </div>
        </div>
    </div>
    <!--------------------------- END --- IF NO SCRAPE RESULTS / SHOW THIS SECTION ------->


    <!-------------------------- EXAMPLE POSTS   -------- ---------------------------------->

    <div class="container-fluid">

        <div class="card my-1" data-id="2820023802example">
            <div class="card-header">
                <h4>
                    <a href="http://example.com" target="_blank" class="post-link">This is an example BHW Post that
                        could be posted.</a>
                    <button type="button" class="btn btn-success float-right" id="save-button">Save</button>
                </h4>
            </div>
            <div class="card-footer text-muted">
                <div class="float-left">
                    <span id="last-message">2 minutes ago</span>
                    <span id="last-message"><i class="far fa-eye mx-3"> 457</i></span>
                    <span id="last-message"><i class="far fa-comments"> 36</i></span>
                </div>


            </div>
        </div>

    </div>